name: Quality
on:
  # Allow manual trigger for this action
  workflow_dispatch:

  # Run weekly to check for external factors that impact our code
  schedule:
    - cron: "0 17 * * 1"

  # Run whenever a pull request is opened with master as the target
  pull_request:
    branches:
      - main

jobs:
  check_grafana_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Install grafana/dashboard-linter
        run: go install github.com/grafana/dashboard-linter@latest
        env:
          GOBIN: /usr/local/bin/

      - name: Lint Grafana dashboards
        run: |
          set -e
          for file in ./dashboards/*.json; do
            echo "Linting $file"
            dashboard-linter lint "$file"
          done
          
  check_helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}

      - name: Set up Helm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Lint Helm charts
        run: helm lint charts/pfsense-exporter

  check_gofmt:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - "1.24"
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: Check gofmt code formatting
        id: gofmt
        run: |
          # Run gofmt
          results=$(gofmt -l .)

          # Exit on non-zero status if there are any files that need formatting
          if [ -n "$results" ]; then
            echo "Some files do not match gofmt code formatting:"
            echo "$results"
            echo "--------------------------"
            echo "Please run 'gofmt -w .' to fix the formatting."
            exit 1
          else
            echo "All files match gofmt code formatting!"
          fi

  check_go_vet:
    runs-on: ubuntu-latest
    needs: [check_gofmt]
    strategy:
      matrix:
        go-version:
          - "1.24"

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: Run go vet
        run: go vet ./...

  check_go_build:
    runs-on: ubuntu-latest
    needs: [check_go_vet]
    strategy:
      matrix:
        go-version:
          - "1.24"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: Build Go apps
        run: go build -o /tmp/pfsense_exporter ./cmd/pfsense_exporter

  check_go_tests:
    runs-on: ubuntu-latest
    needs: [check_go_build]
    strategy:
      matrix:
        go-version:
          - "1.24"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: Run Go tests
        run: go test -v ./... -coverprofile=coverage.out
