name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release_binary_build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
            build_name: pfsense_exporter-linux-amd64
          - goos: linux
            goarch: arm64
            build_name: pfsense_exporter-linux-arm64
          - goos: windows
            goarch: amd64
            build_name: pfsense_exporter-windows-amd64.exe
          - goos: windows
            goarch: arm64
            build_name: pfsense_exporter-windows-arm64.exe
          - goos: darwin
            goarch: amd64
            build_name: pfsense_exporter-darwin-amd64
          - goos: darwin
            goarch: arm64
            build_name: pfsense_exporter-darwin-arm64
          - goos: freebsd
            goarch: amd64
            build_name: pfsense_exporter-freebsd-amd64
          - goos: freebsd
            goarch: arm64
            build_name: pfsense_exporter-freebsd-arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.24'

      - name: Build exporter
        env:
            GOOS: ${{ matrix.goos }}
            GOARCH: ${{ matrix.goarch }}
        run: |
          go build -ldflags "-X 'main.version=${{ github.ref_name }}'" -o ${{ matrix.build_name }} ./cmd/pfsense_exporter

      - name: Upload build as release asset
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: ${{ matrix.build_name }}

  release_image_build:
    runs-on: ubuntu-latest

    # Ensure we have permissions to write to the package repo
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Log in to container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=${{ github.ref_name }}
            type=raw,value=latest

      - name: Push image build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            DOCKER_IMAGE_VERSION=${{ github.ref_name }}

  release_helm_chart:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Format version for Helm
        id: get_version
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - name: Package Helm chart
        run: helm package charts/pfsense-exporter --version ${{ steps.get_version.outputs.VERSION }} --app-version ${{ github.ref_name }}
          
      - name: Upload Helm chart as release asset
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: pfsense-exporter-${{ steps.get_version.outputs.VERSION }}.tgz

      - name: Re-index Helm chart repository
        run: |
          # Ensure we fail fast
          set -e  

          # Set up git config
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          # Stash the new chart for now so we can switch branches and update the index
          git stash push -u -m "release_helm_chart" pfsense-exporter-${{ steps.get_version.outputs.VERSION }}.tgz
          git fetch origin gh-pages
          git checkout gh-pages
          git stash pop

          # Update Helm repo index and remove the chart file
          helm repo index . --merge index.yaml --url https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/

          # Commit and push the updated index
          git add index.yaml
          git commit -m "chore(helm): add pfsense-exporter-${{ steps.get_version.outputs.VERSION }} to repo index"
          git push origin gh-pages
        
